@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    height: 100%;
}

:root{
    --background: #FAFAFA;
    --navbar-background-color: #F8F8F8;
    --active-color: #1B528A;
    --primary-color: #1B5693;
    --white-color: #fff;
    --primary-color-trasnlucent: rgba(27, 86, 147, 0.5);
    --default-margin: 8px;
}

.navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--navbar-background-color);
    width: fit-content;
    height: 90vh;
    border-bottom-right-radius: 15px;
}

.active > i{
    color: var(--active-color);
}

i{
    width: fit-content;
    padding: 20px;
}

.nav-icon{
    font-size: 1.3rem;
}

.container-fluid{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.background{
    background: var(--background);
}

.container{
    margin: var(--default-margin);
}

.container.center{
    margin: auto;
    width: fit-content;
}

.form{
    width: 500px;
}

.vertical-align{
    align-items: center;
}

.vh-100{
    height: 100vh;
}

.h-100{
    min-height: 100% !important;
}

.title{
    font-weight: bold;
    font-size: 1.8rem;
}

.title.primary{
    color: var(--primary-color);
}

.title.primary-trasnlucent{
    color: var(--primary-color-trasnlucent);
}

.title.center, .subtitle.center{
    text-align: center;
}

.title, .subtitle{
    margin-bottom: 6px;
}

.subtitle.primary{
    color: var(--primary-color-trasnlucent);
}

.subtitle.primary-trasnlucent{
    color: var(--primary-color-trasnlucent);
}

.subtitle{
    font-size: 0.8rem;
}

.border-shadow{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
}

.border{
    border: 0;
    border-radius: 15px;
}

.caps{
    text-transform: uppercase;
}

.padding-2{
    padding: 2rem;
}

.button-form{
    width: 100%;
    height: 2.6rem;
    background-color: var(--active-color);
    color: var(--white-color);
    border-radius: 7px;
    border: 0;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.bold{
    font-weight: bold;
}

img.center.logo-login{
    display: block;
    margin: auto;
    margin-top: -20rem;
    margin-bottom: 2rem;
}

.field-w-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(27, 86, 147, 0.25);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.field-w-icon > i{
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 12px;
}

.field-w-icon > input{
    width: 100%;
    margin-right: 4px;
    height: 1.8rem;
    padding: 4px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    caret-color: var(--primary-color);
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    
}